h1{
    color: black;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;  
}
h6{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#container1{
    background-color:black;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
#linha1{
    background-color: white;
}
#blockquote1{
    background-color:rgb(235, 231, 231);
    border-radius: 10px;
}
#blockquote2{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(235, 231, 231);
    border-radius: 10px;
}
#ul1{

    font-weight: bold;
}
#rodape{
    background-color: black ;
    border-radius: 10px;
    color: aliceblue;
}
#descricao1{
    text-indent: 8px;
    border-radius: 8px;
}
#divArtigo{
    border-radius: 10px;
    border-style: solid;
}