 <!--descricao inicial-->
 <div class=" col-10 offset-1 row mt-3 p-2 border" id="descricao1">
    <p class= "mt-3 p-2 lead "id="descricao1">
    Nossa escola fornece diversos cursos na area de matematica, onde todo conhecimento e destinado a
    aplicacao pratica da matematica, em cada dominio especifico em diversas areas da atividade humana.
    </p>
    <p class= "mt-3 p-2 lead" id="descricao1">
    Conheca um pouco da historia da matematica no mundo, e os personagens que contribuiram com o 
    desenvolvimento clicando <a href="calculo.html">aqui</a>.
    </p>
  </div>

  <!--container 2 para lista de cursos-->
    <div class="container mt-3 pt-2 lead ">
          <!--oferecimento do curso-->
          <div class="row">
            <h4 class="p-4">Cursos oferecido pela nossa escola:</h4>
          </div>
          <div class="row p-2">
      <blockquote class="blockquote col-sm-7 col-xl-5 col-md-7 " id="blockquote1">
          <ul class="list"id="ul1" >
            <li><a href="calculo.html">Algebra.</a></li>
            <li><a href="calculo.html">Geometria.</a></li>
            <li><a href="calculo.html">logaritmo.</a></li>
            <li><a href="calculo.html">Calculo.</a></li>
            <li>matematica aplicada a<a href="calculo.html"> economia.</a></li>
            <li>matematica aplicada a <a href="calculo.html">engenharia.</a></li>
            <li>matematica aplicada a<a href="calculo.html"> computacao.</a></li>
            <li>matematica aplicada a <a href="calculo.html">quimica.</a></li>
            <li>matematica aplicada a<a href="calculo.html">estatisticas.</a></li>
          </ul>
      </blockquote>
      <blockquote class=" offset-1 blockquote col-sm-5 col-xl-5 col-md-5 " id="blockquote2">
        <p class="col-sm-12 col-md-12 col-xl-12 "> Nos idiomas, quando duas pessoas entendem o mesmo significado a partir do mesmo símbolo,
          estas são capazes de conversar entre si. Na matemática não é diferente.
          Estudar matemática é o movimento de conhecer os seus símbolos e as respectivas leituras,
          seus significados e formas e fazer que estas manipulações possam articular os conceitos e gerar resultados.
          Portanto, para verificar se uma conta ou operação está correta, avalie conceitualmente o problema. Seu cérebro é 
          uma máquina que trabalha com ideias e computadores trabalham com números. Cérebro constrói computador!
        </p>
      </blockquote>

    </div>