h1{
    color: black;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;  
}
h6{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px
}




#container1{
    background-color:black;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
#linha1{
    background-color: white;
    flex-wrap: wrap;
}


#blockquote1{
    background-color:rgb(235, 231, 231);
    border-radius: 10px;
}
#blockquote2{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(235, 231, 231);
    border-radius: 10px;
}
#ul1{

    font-weight: bold;
}
#rodape{
    background-color: black ;
    border-radius: 10px;
    color: aliceblue;
}
#descricao1{
    text-indent: 8px;
    border-radius: 8px;
}
#divArtigo{
    border-radius: 10px;
    border-style: solid;
}

h6:hover {
    box-shadow: 0px 0px 3px gray;
    cursor: pointer;
}

.lista {
    position: absolute;
    top: 131px;
    background: #f1f1f1;
    z-index: 9;
    min-width: 120px;
    padding: 5px 15px;
    box-shadow: 0px 1px 3px black;
    display: none;
}

.lista-item {
    padding: 10px;
}

.lista-item:hover {
    background-color: rgb(189, 179, 179);
    cursor: pointer;

}

.triangulo-para-baixo {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #f1f1f1;
    position: absolute;
    top: -13px;
    left: 7px;
  }

.show {
    display: flex !important;
    flex-direction: column;
}

.menu-item {
    position: relative;
}