<div class="container mt-3 pt-2 lead ">
<!--bloco para artigos-->
<div class=" mt-3 pt-2">
    <h4>Artigos</h4>
      <div class="row" id="divArtigo">
        <img  [src]="'assets/imgEscola/matematica3.png'" width="100" height="100">
        <p class="col-10 my-2"><strong>Matemática e o Mercado de Trabalho</strong>
        <br>
        Um conhecedor profundo de matemática não possui apenas o nobre destino de se tornar professor, 
        como é de costume se ver. Este, por exemplo, também pode aplicar seus conhecimentos para o mercado
         de trabalho na forma de prestação de consultorias. Para tanto, é necessário que possua diversas capacidades, 
         bem como as de liderança e trabalho em equipe. Porém, neste artigo trataremos apenas das habilidades referentes
          às técnicas deste profissional e porque devem ser incorporadas nas empresas.
        </p>
      </div>
      <br>
      <div class="row " id="divArtigo">
        <img  [src]="'assets/imgEscola/matematica4.png'" width="100" height="100">
        <p class="col-10 my-2"><strong>Como ensinar matemática hoje</strong>
          <br>
           Sabe-se que a típica aula de matemática a nível de primeiro, segundo ou terceiro graus
          ainda é uma aula expositiva, em que o professor passa para o quadro negro aquilo que ele
          julga importante. 0 aluno, por sua vez, copia da lousa para o seu caderno e em seguida …
        </p>
      </div>
      <br>
      <div class="row" id="divArtigo">
        <img  [src]="'assets/imgEscola/matematica.jpg'" width="100" height="100">
        <p class="col-10 my-2"><strong>História da matemática</strong>
          <br>
          Por mais de vinte anos," História da Matemática" tem sido texto de referência para aqueles
          que querem aprender sobre a fascinante história da relação da humanidade com números,
          formas e padrões. Esta edição revisada apresenta uma cobertura atualizada de tópicos …
        </p>
      </div>
      <br>
      <div class="row" id="divArtigo">
        <img  [src]="'assets/imgEscola/matematica.png'" width="100" height="100">
        <p class="col-10 my-2"><strong>Como estudar matemática? E como uma escolha 
                                        errada pode atrapalhar no desenvolvimento dos alunos?</strong>
          <br>
          A matemática se preocupa em construir estruturas lógicas. Essas estruturas começam por conceitos iniciais.
           As estruturas mais complexas são formadas pelas mais simples.
          A "matéria-prima" dessas construções é a palavra, que por sua vez deve possuir significado e forma. Posteriormente,
           esta palavra literal é substituída por simbolo em razão da praticidade.
        </p>
      </div>
  </div>
</div>

